html, body {
    height: 100%; /* Occupa tutta l'altezza disponibile */
    width: 100%;
    margin: 0; /* Rimuove eventuali margini del browser */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    background-image: url("../assets/bg-blurrato.png");
}



.logo-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-logo {
    width: 70px;
    height: 70px;
    background-color: #D7A9E3;
    border-radius: 50px;
}

.login-button {
    background-color: #D7A9E3;
    color: #4a235a;
    border: 2px solid #4a235a;
    padding: 10px 30px;
    border-radius: 10px;
}


.offer-card {
    width: 100%; /* Imposta una larghezza massima per la card */
    height: 100%;
    padding: 2vw;
    background-color: #d8aef7;
    border-radius: 20px;
    color: #4a235a;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Aggiungi ombreggiatura per dare un po' di profondità */
}


.offer-card h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.offer-card .btn-apply {
    background-color: #a560e5;
    border: 1px solid #c300ff;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.offer-card .btn-apply:hover {
    background-color: #6b38d1;
    color: #fff;
}

.details-section p {
    font-size: 1rem;
    line-height: 1.6;
}

.btn-apply {
    float: right;
}


/* Stile personalizzato per il pulsante Indietro */
.btn-back {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.btn-back:hover {
    color: rgb(123, 31, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombra per il testo */
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2vw; /* Spazio per farlo apparire sotto la navbar */
}