body {
    height: 100%; /* Occupa tutta l'altezza disponibile */
    width: 100%;
    /*display: flex;*/
    /*margin: 0; */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    /*ackground-image: url("../assets/bg-blurrato.png");*/
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.8), rgba(230, 230, 230, 0.8), rgba(165, 48, 255, 0.8)), url("../assets/bg-blurrato.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.logo-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-logo {
    width: 70px;
    height: 70px;
    background-color: #D7A9E3;
    border-radius: 50px;
}
.login-button {
    background-color: #D7A9E3;
    color: black;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
}
.offer-card {
    width: 100%; /* Imposta una larghezza massima per la card */
    height: 100%;
    padding: 2vw;
    background-color: #d8aef7;
    border-radius: 20px;
    color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Aggiungi ombreggiatura per dare un po' di profondità */
}
.offer-card h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.offer-card .btn-apply {
    background-color: #D6B5FF;
    border: solid 2px #8228ff;
    border: none;
    border-radius: 2vw;
    color:black;
    box-shadow: 0 0 5px rgb(130, 40, 255), 0 0 10px rgba(131, 40, 255, 0.6);
}
.offer-card .btn-apply:hover {
    color:#fff;
    background-color:#8228ff;
    border-color:#8228ff
}
.offer-card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-card h1 {
    margin-bottom: 0; /* Rimuovi il margine per allineare meglio */
}

.details-section p {
    font-size: 1rem;
    line-height: 1.6;
}
.btn-apply {
    float: right;
    margin-top: 9px;
}
.p-azienda{
    margin-top: 13px;
    margin-bottom: 0;
}
.p-posizione, .p-settore{
    margin: 0%;
    font-weight: bold;
}
/* Stile personalizzato per il pulsante Indietro */
.btn-back {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding-left: 0px;
}
.btn-back:hover {
    color: rgb(123, 31, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombra per il testo */
}

.btn-container {
    display: flex;
    justify-content: center;
    /*margin-top: 2vw;*/
    margin-bottom: 50px;
    
}
.offerta-container{
    margin-top: 185px;
   	max-width: 60%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}
.footer{
    margin-top: 200px;
}
