body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
}

.header {
  margin-top: 20px;
}
.container {
  background-color: #ffffff;
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #343a40;
}

p {
  text-align: justify;
  margin-bottom: 20px;
}

.section {
  margin: 20px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #6c757d;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
