.btn-primary{
    color:#000000;
    background-color:#D6B5FF;
    border-color:#8228ffa5;
}
.btn-primary:hover
{
    color:#fff;
    background-color:#8228ffa5;
    border-color:#8228ffa5;
    box-shadow: 0 0 5px rgba(131, 40, 255, 0.8), 0 0 10px rgba(131, 40, 255, 0.6);
}
.btn-primary.focus,
.btn-primary:focus{
    color:#fff;
    background-color:#720effa5;
    border-color:#720effa5;
}.btn-primary.disabled,
.btn-primary:disabled{
    color:#fff;
    background-color:#720effa5;
    border-color: #720effa5
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle
{color:#fff;background-color:#720effa5;
    border-color:#720effa5
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #720effa5
}

.home-main{
	margin-top:150px;
}

body {
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#regioni {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='gray' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px;
}
#professioni {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='gray' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px;
}