body {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.8),
      rgba(230, 230, 230, 0.8),
      rgba(165, 48, 255, 0.8)
    ),
    url("../assets/bg-blurrato.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.animate-on-scroll {
  opacity: 0;
  filter: blur(3px);
  transition: opacity 0.2s ease-out, filter 0.2s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  filter: blur(0px);
}

.loader.initial-load {
  opacity: 0;
  transform: translateX(20px);
  filter: blur(3px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out,
    filter 0.2s ease-out;
}

.loader.initial-load.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}

.logo-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo {
  width: 70px;
  height: 70px;
  background-color: #d7a9e3;
  border-radius: 50px;
}

.login-button {
  background-color: #d7a9e3;
  color: black;
  border: 2px solid black;
  padding: 10px 30px;
  border-radius: 10px;
}

.offer-card {
  min-height: 40vh;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #d7bbff;
  border-radius: 20px;
  color: black;
}

.offer-card h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.offer-card .btn-apply {
  box-shadow: 0 0 5px rgb(130, 40, 255), 0 0 10px rgba(131, 40, 255, 0.6);
  float: right;
  margin-top: 9px;
  background-color: #6e41e2;
  border: solid 2px #8228ff;
  border: none;
  border-radius: 2vw;
  color: white;
  font-weight: 700 !important;
  padding: 0.5vw 1vw;
  font-size: 0.8vw;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.offer-card .btn-apply:hover {
  background-color: #4c2bb0;
  transform: scale(1.04);
}

.offer-card .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-card h1 {
  margin-bottom: 0;
}

.details-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.p-azienda {
  margin-top: 13px;
  margin-bottom: 0;
}

.dettagli-offerta {
  margin-top: 7px;
}

.p-posizione,
.p-settore {
  margin: 0%;
  transform-origin: center;
  will-change: transform;
  text-rendering: optimizeLegibility;
}

.back-button {
  position: absolute;
  display: inline-block;
  left: 25px;
  background: none;
  border: none;
  color: #6e41e2;
  cursor: pointer;
  font-size: 30px;
  padding: 0.5rem;
  padding-bottom: 0;
  transition: transform 0.3s ease;
  margin-left: 7px;
}

.back-button:hover {
  color: #4c2bb0;
  transform: translateX(-5px);
}

.back-btn-container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 4vw;
}

.offerta-container {
  min-height: 40vh;
  border-radius: 20px;
  margin-top: 185px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s ease-in-out,
    box-shadow 0.3s ease;
  transform-origin: center;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  text-rendering: optimizeLegibility;
}

.offerta-container:hover {
  transform: scale(1.01);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.4);
}

.footer {
  margin-top: 200px;
}

.btn-primary {
  background-color: #6e41e2;
  border: solid 2px #8228ff;
  border: none;
  border-radius: 2vw;
  color: white;
  box-shadow: 0 0 5px rgb(130, 40, 255), 0 0 10px rgba(131, 40, 255, 0.6);
}

.btn-primary:hover {
  background-color: #4c2bb0;
}
