* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Centra il contenuto verticalmente e orizzontalmente */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #d3d3d3;*/
    flex-direction: column;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.8), rgba(230, 230, 230, 0.8), rgba(165, 48, 255, 0.8)), url("../assets/bg-blurrato.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 9.5vh;
    background-attachment: fixed;
}

.risultato-container {
    background-color: #d8aef7;
    width: 45%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 5vh; /* Spazio sotto il form per il bottone indietro */
    margin-top: 15vh;
    height: 50vh;
}

.congrats{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.contenuto-risultato {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 10vh;
    height: 10vh;
}

.home-link {
    font-size: 2vh;
    color: #6b38d1;
    text-decoration: none;
    display: inline-block;
    margin-top: 7vh;
}

.register-home:hover {
    text-decoration: underline;
}

.progress {
    width: 100%;
    height: 30px;  /* Altezza della progress bar */
    background-color: #e1d1f3; /* Colore di sfondo più chiaro */
    border-radius: 15px; /* Bordo arrotondato */
    margin-bottom: 30px;  /* Spazio sotto la barra di progresso */
}

.progress-bar {
    height: 100%;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;  /* Aggiungi una transizione fluida */
    background-color: #6b38d1;  /* Colore viola */
}