/* Resetta margini e padding di base */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Centra il contenuto verticalmente e orizzontalmente */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #d3d3d3;*/
    flex-direction: column;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.8), rgba(230, 230, 230, 0.8), rgba(165, 48, 255, 0.8)), url("../assets/bg-blurrato.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 9.5vh;
    background-attachment: fixed;
}

/* Stile per la navbar per evitare che copra il form */
.navbar {
    width: 100%;
    margin-bottom: 20px; /* Aggiungi spazio sotto la navbar */
}
.navbar .logo-img{
    margin: 0;
    padding-left: 0px;
}
/* Contenitore principale del form di login */
.login-container {
    background-color: #d7bbff;
    width: 22%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 5vh; /* Spazio sotto il form per il bottone indietro */
    margin-top: 15vh;
}

/* Titolo di benvenuto */
.login-container h2 {
    font-size: 1.9em;
    margin-top: 1vw;
    margin-bottom: 3vw;
    color: #6e41e2;
    font-weight: bolder;
}

/* Stile per le etichette */
.login-container label {
    display: block;
    font-size: 0.85em;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Campi di input */
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 1vw;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    font-size: 0.8em;
    background-color: #f3e8fc;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.login-container input[type="password"]{
    margin-bottom: 2vw;
}
/* Bottone per accedere */
.login-container button {
    margin-top: 3vw;
    margin-bottom: 1vw;
    width: 100%;
    padding: 12px;
    background-color: #6e41e2;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}

.login-container button:hover {
    background-color: #4c2bb0;
    transform: translateY(-2px);
}



/* Bottone Torna Indietro */
.btn-back {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    margin-left: 1px;
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Transizioni fluide per il colore e la trasformazione */
    font-size: 20px;
}

.btn-back:hover {
    color: #4c2bb0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombra per il testo */
    transform: translateX(-5px);
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15vh;
}
.footer{
    margin-top: 200px;
}
.register-link {
    font-size: 1em;
    color: #6e41e2;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding-top: 7.5px;
}
.register-link:hover {
    color: #4c2bb0;
    text-decoration: underline;
    transform: translateY(-2px);
}
.back-button-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px;
}
.back-button {
    display: inline-block;
    left: 0;
    bottom: 0;
    background: none;
    border: none;
    color: #8228ff;
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.back-button:hover {
	color: #4c2bb0;
    transform: translateX(-5px);
}

.alert-box {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: #f44336;
    color: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.alert-box.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.btn-delete-off{
 	margin-left: auto; 
    margin-right: 10px; 
    width: 3rem; 
    height: 3rem; 
    padding: 0; 
    background: none; 
    border: none; 
    outline: none; 
    appearance: none;
}